**/*.log
**/*.md
**/*.php~
**/*.bat
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
**/.editorconfig
**/.env.*.local
**/.env.local
**/.env.local.php
**/.php_cs.cache
**/.htaccess
**/web.config
docker/mysql/
docker/pgsql/
docker/redis/
storage/backups
storage/composer-backups
storage/config-backups
storage/config-deltas
storage/logs
storage/runtime
tests/
vendor/
web/cpresources
